<plugin>
	<nom>Br&egrave;ves</nom>
	<icon>prive/themes/spip/images/breve-24.png</icon>
	<auteur>Collectif SPIP</auteur>
	<version>1.1.4</version>
	<version_base>1.0.0</version_base>
	<install>base/breves_upgrade.php</install>
	<etat>test</etat>
	<description>Les br&egrave;ves sont des informations courtes, sans auteur.</description>
	<prefix>breves</prefix>
	<categorie>edition</categorie>

	<necessite id="SPIP" version="[3.0.0-dev;)" />

	<pipeline>
		<nom>configurer_liste_metas</nom>
		<inclure>breves_pipelines.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/breves.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_objets_sql</nom>
		<inclure>base/breves.php</inclure>
	</pipeline>

	<pipeline>
		<nom>autoriser</nom>
		<inclure>breves_autoriser.php</inclure>
	</pipeline>

	<pipeline>
		<nom>rubrique_encours</nom>
		<inclure>breves_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_enfants</nom>
		<inclure>breves_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>accueil_encours</nom>
		<inclure>breves_pipelines.php</inclure>
	</pipeline>

	<pipeline>
		<nom>objet_compte_enfants</nom>
		<inclure>breves_pipelines.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>trig_calculer_langues_rubriques</nom>
		<inclure>breves_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>calculer_rubriques</nom>
		<inclure>breves_pipelines.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>optimiser_base_disparus</nom>
		<inclure>breves_pipelines.php</inclure>
	</pipeline>
							
	<bouton id='breves' parent="bando_edition">
		<icone>images/breve-16.png</icone>
		<titre>breves:icone_breves</titre>
	</bouton>
	
	<bouton id='breve_creer' parent="outils_rapides">
		<icone>images/breve-new-16.png</icone>
		<titre>breves:icone_nouvelle_breve</titre>
		<url>breve_edit</url>
		<args>new=oui&amp;id_rubrique=@id_rubrique@</args>
	</bouton>

	<utilise id='mots' />
	<traduire gestionnaire="salvatore" module="breves" reference="fr" />
</plugin>
